    
:root {
    --main-bg-color: #edf5fe;
    --light-blue: #03a9f4;
    --border-color: #0288d147;
    --container-width: 500px
}

body {
    background: no-repeat;
    background-size: cover;
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 98vh;
    overflow: hidden
}

.logo {
    position: absolute;
    top: -19px;
    left: 10px;
    width: 135px
}


body,
.upload-container,
.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center
}

.upload-container,
.drop-zone {
    flex-direction: column
}

.databody{
    border: 2px dashed var(--border-color);
    border-radius: 10px;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.leftdiv{
    float: left; 
    width: 50%;
    margin: 10px;
    margin-left: 9%;
}
.clickdown{
    margin: 5px;
    margin: 5px;
    background: lightgreen;
    padding: 4px;
    border-radius: 10px;
}
.rightdiv{
    float: right;
    margin: 10px;
    margin-left: 9%;
}
.upload-container {
    background: #fff;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0 20px 20px 0 #00000017
}
.download-container {
    margin: 13px;
    display: flex;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 20px 20px 0 #00000017
}

.datacont{
    width: 80%;
    height: 80%;
}

.drop-zone {
    width: var(--container-width);
    min-height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 10px;
    margin: 30px;
    transition: .2s all ease-in
}

.drop-zone.dragged {
    background: var(--main-bg-color);
    border-color: #0288d1
}

.drop-zone input {
    display: none
}

.icon-container {
    position: relative;
    width: 90px;
    height: 100px
}

.icon-container img {
    width: 75px;
    position: absolute;
    transition: transform .25s ease-in-out;
    transform-origin: bottom
}

.icon-container .center {
    z-index: 10
}

.icon-container .right,
.icon-container .left {
    filter: grayscale(.5);
    transform: scale(.9)
}

.point{
    cursor: pointer;
}
.dragged .center {
    transform: translateY(-5px)
}

.dragged .right {
    transform: rotate(10deg) scale(.9) translateX(20px)
}

.dragged .left {
    transform: rotate(-10deg) scale(.9) translateX(-20px)
}

.title {
    font-size: large
}

#browseBtn {
    color: #2196f3;
    cursor: pointer
}



.msg {
    position: absolute;
    top: 15px;
    right: 9%;
    padding: 10px 20px;
    color: #fff;
    display: none;
    border-radius: 5px;
    font-size: 18px;
    background: skyblue;
    color: darkgreen;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    transition: transform ease-in-out .2s
}
.play-btn {
    width: 100px;
    height: 100px;
    background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: absolute;
    display: block;
    margin: 100px auto;
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
  }
  
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }

.fileshow{
    width: 100%;
    height: 98vh;
    margin: 20px;
    align-self: baseline;
    overflow: auto;
}
.show.msg {
    display: block;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.viewupload{
    display: none;
}
@media screen and (max-width:900px) {
    .upload-container{
        width: 80%;
        /* margin-left: 15%; */
    }
    .drop-zone{
        padding: 48px;
        width: max-content;
    }
    #droptext{
        display: none;
    }
    body{
        overflow-y: scroll;
    }
    .upload-container{
        height: 50%;
        float: top;
    }
    .viewupload{
        display: block;
        margin-top: 20%;
    }
    .fileshow{
        margin-top: 20%;
    }
    .msg.show{
        top: 70px;
    }
    .databody{
        border: 2px dashed var(--border-color);
        border-radius: 10px;
        width: 90%;
        height: 85%;
        display: flex;
        justify-content: center;
    }
    #flname{
    font-size: 11px;
    }
}
